<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="ClsidDa" value="{5146CB8A-0B30-4141-9B2B-DC2543883207}"/>
    <add key="ClsidAe" value="{aa46CB8A-0B30-4141-9B2B-DC2543883207}"/>
    <add key="Description" value="207"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
